.container {
  background-color: #000000;
  padding: 10px;
}
.jobdetails-container {
  border-radius: 10px;
  background-color: #202020;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
}
.life-company-container {
  display: flex;
}
.similarjob-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.desc-link {
  display: flex;
  justify-content: space-between;
}
